<div class="row">
    <h2>Check statistic for a player</h2>
    
    
  <form class="form-horizontal">
    <div class="form-group">
        
        <label for="inputEmail3" class="col-xs-2 control-label">User name</label>
        <div class="col-xs-4">
            <input type="text" class="form-control" placeholder="User name">
        </div>
        <label class="moveLeft">Region</label>
        <select class="form-control col-xs-2 noFullWidth">
            <option>Europe</option>
            <option>North America</option>
            <option>Russia</option>
            <option>South East Asia</option>
            <option>Korea</option>
        </select>
        <div class="form-group">
            <button class="btn btn-success col-xs-3 marginLeft30">Search</button>
        </div>
    </div>
</form>
</div>