<div class="container-fluid margin-top-30">            
    <div class="panel panel-default">
        <div class="panel-body">
            <form name="user">                    
                <div class="col-xs-12 col-sm-4">
                    <input type="text" class="form-control" placeholder="Commander Name" ng-model="user.name" required>
                </div>                
                <div class="col-xs-12 col-sm-4">
                    <select class="form-control col-xs-4 noFullWidth" ng-model="data.model" required>
                        <option value="">---Please select---</option>
                        <option ng-repeat="option in data.availableRegions" value="{{option.id}}">{{option.name}}</option>                      
                    </select>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <button class="btn btn-default hvr-buzz-out btn-border" ng-click="search(user.name, data.model)" ng-disabled="user.$invalid">Search</button>
                </div>
            </form>
        </div>
    </div>
    <!--left side-->
    <div class="col-xs-12 col-sm-8 no-padding-l">           
        <div class="panel panel-warning">
            <div class="panel-heading">WN8 reference</div>
            <div class="panel-body">
                {{wn8_description}}
            </div>
        </div>            
    </div>
    <!--right side-->
    <div class="col-xs-12 col-sm-4 no-padding-r">
        <div class="panel panel-danger">
            <div class="panel-heading">About Wot-Blitz-Stats</div>
            <div class="panel-body">
                {{about_description}}
            </div>
        </div>    
    </div>
</div>

